langchain
langchain-community
langchain-qdrant
qdrant-client
fastembed
pypdf
python-dotenv
fastapi
uvicorn
streamlit
langchain-groq
requests
langchain-google-genai
langchain-cohere
langchain-huggingface
langchain-ollama